* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* =10px */
  }

.padre{
    display: flex;
    width: 50rem;
    border: 1px solid black;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.tittle-card {
    width: 90%;
    height: 2.5rem;
    background-color: chartreuse;
}

.tarjetas {
    width: 90%;
    background-color: coral;
}

.botonesPadre{
    align-items: center;
    align-self: flex-end;
    width: 90%;
    background-color: crimson;
}

.body{
    background-color: aquamarine;
}