* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

label{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input:focus{
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 48px;

}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    width: 100%;
}

p, a{
    font-family: 'Roboto', sans-serif;
}

.main-central {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-description {
    background-image: url(../img/welcome-image-6.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex-basis: 55%;
    height: 100%;
}

.container-form {
    position: relative;
    background-color: white;
    flex-basis: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.form-container {
    width: 90%;
    height: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-tittle {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(28, 161, 161);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.btn-form {
    display: flex;
    justify-content: space-evenly;
}

.btn{
    width: 40%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-image: linear-gradient(to bottom,
        rgb(215, 255, 253),
        rgb(170, 225, 230),
        rgb(28, 161, 161)
    );
    color: white;
    font-size: 15px;
    font-family:'Lobster', cursive, sans-serif;
}

.container-email,
.container-password {
    margin: 40px 0;
    height: 60px;
    position: relative;
    display: flex;
    width: 100%;
}

.input-email,
.input-password {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}

.input-registro{
    margin: 30px auto;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}

.input-label,
.label-password {
    z-index: 1;
}

.form{
    width: 80%;
}

.anuncio{
    display: flex;
    height: 50px;
    width: 90%;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Roboto';
}

.errorLogin, .errorRegistro{
    display: flex;
    position: absolute;
    bottom: 5vh;
    height: 50px;
    background-color:rgba(167, 14, 14, 0.39);
    border: 1px solid rgb(167, 14, 14);
    font-size: 25px;
}
.registro{
    display: flex;
    position: absolute;
    bottom: 5vh;
    font-size: 25px;
    background-color: rgba(36, 207, 36, 0.39);
    border: 1px solid rgb(0, 255, 0);
}

.erroresRegistro{ /* div donde va el error en el panel de registro */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.errorRegistro{
    position:initial;
    font-size: 17px;
    margin: 0;
}

.btn-registro{
    display: flex;
    justify-content: center;
}
.btn-registro > .btn{
    width: 80%;
}

/* Modal nueva tarea */

.main-container {
    display: flex;
    flex-direction: row;
}

.menu-aside{
    height: 100vh;
    width: 15%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.596);

}

.main-view{
    width: 85%;
    padding: 0;
    margin: 0 0 0 15%;

    
}

.logo-container{
    width: 100%;
    height: 10vh;
    background-color: rgb(28, 161, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.438);
}

.main-nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.438);
    padding: 0 20px;

}

.link-cerrarsesion{
    color: rgb(28, 161, 161);
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
}

.modalContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.596);
    visibility: hidden;
    opacity: 0;
    transition: .1s ease all;
    z-index: 1;
}
.modalNuevaTarea{
    display: flex;
    position: absolute;
    top: -100%;
    width: 80%;
    height: 80%;
    background-color: rgb(28, 161, 161);
    z-index: 2;
    transition: .3s ease all;
}

.nav-tittle {
    font-weight: lighter;
}

.main-view {
    background-image: url(../img/fondo-smarter-agenda.jpg);
    background-size: cover;
    background-position: center center;
}

.lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 20px 20px 20px;
    justify-content: space-evenly;
    overflow-y: scroll; 
    height: 90vh;
}

.card {
    height: 200px;
    flex-basis: calc(40% - 40px);
    margin-bottom: 40px;
    padding: 10px;
    background-color : #FFF;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    /* text-align: center; */
    border-radius: 15px;
    /* justify-items: center; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-mark {
    position: absolute;
    top: 0;
    left: 5px;
    display: inline-block;
    height: 60px;
    width: 45px;
}

.asunto-tittle {
    font-size: 24px;
}

/* marcadores */

.urgente, .importante, .completado{
    font-size: 3em;
}

.urgente{
    color: #a20a0a;
}

.importante{
    color: #ffe227;
}

.completado{
    color: #799351;
}

/* fondo de cards */

.general{
    background-color: #ffc75f;
}

.trabajo{
    background-color: rgb(0, 171, 214);
}

.personal{
    background-color: #845ec2;
}

.divHora {
    background-color: white;
    width: 40%;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}

.detalles {
    max-height: 40%;
}

.p-detalles {
    overflow: hidden;
}

.principal-btn {
    position: absolute;
    bottom: 5px;
    right: 25px;
    border-radius: 10px;
    background: black;
    padding: 10px;
}

.principal-btn > button {
    font-size: 1.5em;
    color: rgb(28, 161, 161);
    background: none;
    border: none;
    margin: 0 10px;
    font-weight: lighter;
    transition: 0.3s ease all;
}

.principal-btn > button:hover {
    font-size: 2em;
    transition: 0.2s ease all;
}

.add:hover {
    color: rgb(53, 233, 53);
}

.edit:hover {
    color: yellow;
}

.remove:hover {
    color: red;
}

.fa-sign-out-alt {
    margin-left: 5px;
}

.fas-categories {
    margin-right: 5px;
}

.categories-container {
    height: 400px;
    width: 100%;
    padding: 5px 5px 5px 15px;
}

.link-categories {
    color: white;
    line-height: 50px;
}

.fa-user{
    color: rgb(28, 161, 161);
}

.fa-briefcase{
    color: #D66033;
}

.fa-university {
    color: #E8D699;
}

.fa-futbol {
    color: black;
}

.fa-smile {
    color: yellow;
}

.btnSeleccionado{
    position: absolute;
    right: 10px;
    top: 5px;
}